body {
  background-color: rgb(235, 235, 235);
}
.navbar {
  max-height: 60px;
}
navigation .navbar-brand {
  color: white;
  margin-left: 30px;
  padding: inherit;
  font-weight: bold;
  background-color: #0bada6;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.navbar {
  font-size: 20px;
}

.active,
.dropdown-menu .dropdown-item:active a:hover {
  background-color: #f3eded !important;
}
.dropdown-item {
  color: rgb(21, 41, 228) !important;
}
.dropdown .dropdown-menu .dropdown-item:active,
.dropdown .dropdown-menu .dropdown-item:hover {
  background-color: #e6c6b1 !important;
}
a {
  color: #6d8092;
  font-size: 15px;
}
.nav-link:hover {
  background-color: #e7e7e7 !important;
}
.navbar-brand:hover {
  color: rgb(175, 175, 175) !important;
}

img {
  width: 100% !important;
  height: 100% !important;
}
.active,
.panel:hover {
  border-color: #fd0707;
  border-style: solid;
}
.visualization {
  width: 100% !important;
  height: 100% !important;
}

.title {
  color: #0bada6;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bolder;
  padding-top: 25px;
}

p {
  color: #2c5b88;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
}
.box {
  margin-top: 60px;
  margin-bottom: 62px;
  padding: 10px 20px 15px;
  color: black;
  background-color: white;
}
.table {
  font-size: 15px;
  border-top-color: white !important;
}

@media (max-width: 1000px) {
  .navbar-expand-lg {
    background-color: #0bada6 !important;
  }
  .navbar {
    max-height: none;
    padding: inherit;
  }
  .navbar div {
    margin: inherit;
    background-color: white;
  }
  .navbar-brand {
    padding: 10px !important;
  }

  button {
    margin-right: 30px;
  }
  button:focus {
    outline: 1px dotted;
    outline: 5px auto -webkit-focussing-color;
  }
}
